(
    balanced: (
        enabled: true,
        cpu: (
            fan: CPU,
            pwm: (0, 0, 26, 64, 128, 192, 255, 255),
            temp: (0, 70, 75, 80, 85, 90, 95, 104),
        ),
        gpu: (
            fan: GPU,
            pwm: (0, 0, 26, 64, 128, 192, 255, 255),
            temp: (0, 60, 65, 70, 75, 80, 85, 104),
        ),
    ),
    performance: (
        enabled: true,
        cpu: (
            fan: CPU,
            pwm: (0, 0, 26, 64, 128, 192, 255, 255),
            temp: (0, 70, 75, 80, 85, 90, 95, 104),
        ),
        gpu: (
            fan: GPU,
            pwm: (0, 0, 26, 64, 128, 192, 255, 255),
            temp: (0, 60, 65, 70, 75, 80, 85, 104),
        ),
    ),
    quiet: (
        enabled: true,
        cpu: (
            fan: CPU,
            pwm: (0, 0, 26, 64, 128, 192, 255, 255),
            temp: (0, 70, 75, 80, 85, 90, 95, 104),
        ),
        gpu: (
            fan: GPU,
            pwm: (0, 0, 26, 64, 128, 192, 255, 255),
            temp: (0, 60, 65, 70, 75, 80, 85, 104),
        ),
    ),
)
